<?xml version="1.0" encoding="utf-8" ?>
<unity>
  <!--    <typeAliases />  -->
  <containers>
    <container name="TcentContainer">
      <types>
        <!--  -->
        <type type="Tcent.IBase.IBaseDao,Tcent.IBase" mapTo ="Tcent.BaseImpl.BaseDaoImpl,Tcent.BaseImpl"/>
      </types>
    </container>
    <!-- more containers here  -->
  </containers>
</unity>
<!-- ...这里的拦截器配置需要进一步应用... -->
