
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<script>
    $.get('/api/Base/GetList', null, function (result) {
        debugger;
        var a = result;
    });
</script>

